@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
    font-family: Abel, Arial, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

main{
    width: 80%;
}

h1, h4{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    text-decoration: #92bCa6 wavy underline;
}

span{
   color: #147744;
   font-weight: bold;
}

h2, h3{
    font-size: 30px;
}


.card{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#92bCa6, #A2CCB6);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #A2CCB6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-left{
    flex: 1;
}

.card-left p{
    text-align: center;
    background-color: #92bCa6;
    padding: 5px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-right{
    flex: 2;
}

.card-right p{
    text-align: right;
}

.stats{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.stats i{
    font-size: 50px;
}

#playlist_count{
    display: flex;
    justify-content: center;
    align-items: center;
}

#average_music {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#average_music svg{
    margin-left: auto;
    margin-right: auto;
}

.tooltip{
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #ffffff7b;
    width: fit-content;
    color: black;
    border: 2px solid darkslategrey;
    border-radius: 10px; 
    font-family: "Roboto Mono", monospace;
    opacity: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggleButton{
    border: 2px solid darkslategrey;
    padding: 20px;
    border-radius: 10px; 
    background-color: #a2ccb662;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#valence_board{
    display: flex;
    justify-content: center;
    align-items: center;
}


#artist-bubble{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#artist-bubble svg{
    margin:auto;
}

#artist-bubble .artist-bubbles{
    cursor: pointer;
}

@media (max-width:700px) {
    main{
        width: 100%
    }

    .card{
        width: 350px;
        height: 500px;
    }

    .card, .card-left, .card-right{
        flex-direction: column;
    }

    .card-right{
        width: 100%;
        color: #fff;
        
        p{
            text-align: center;
        }

        .stats{
            width: 350px;
            margin: 0;
            padding: 0;

            i{
                font-size: 50px;
                color: #ffffffd3;
            }
        }
    }
}
  
